#forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: stretch;
  text-align: center;
  gap: 25px;
  padding: 30px 0;
}

.card {
  height: max(300px, 15dvh);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.day {
  color: var(--dark-clr);
  font-weight: 600;
  opacity: 0.7;
}
