#forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: stretch;
  text-align: center;
  gap: 25px;
}

.card {
  height: 290px;
  background-color: white;
  border-radius: 10px;
}
