.unit-btns {
  border-radius: 10px;
  box-shadow: var(--darker-shadow);
}

.unit-btns button:first-child {
  border-radius: 10px 0 0 10px;
}

.unit-btns button:last-child {
  border-radius: 0 10px 10px 0;
}

.unit-btn {
  background-color: hsl(202, 95%, 80%);
  padding: 10px 15px;
  float: left;
  font-weight: 500;
  transition: filter 0.1s;
}

.unit-btn:hover {
  filter: brightness(1.03) saturate(1.05);
}

.unit-btn:active {
  filter: brightness(0.99) saturate(1.05);
}

.unit-btn.selected {
  color: white;
  background-color: var(--mid-clr);
}
