header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  --container-padding: 8px 13px;
}

search {
  flex: 2;
  max-width: 50%;
  position: relative;
  font-size: 0.85rem;
}

#searchbar {
  width: 100%;
  border: hsl(205, 46%, 48%) 1px solid;
  border-radius: 5px;
  padding: var(--container-padding);
}

#searchbar:focus {
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.results-container {
  position: absolute;
  display: none;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: var(--container-padding);
  margin-top: 1px;
}

.results-container.visible {
  display: block;
}

.visible ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-container button {
  padding: 5px 0;
  background-color: transparent;
}

.unit-btns {
  border-radius: 10px;
  box-shadow: var(--darker-shadow);
}

.unit-btns button:first-child {
  border-radius: 10px 0 0 10px;
}

.unit-btns button:last-child {
  border-radius: 0 10px 10px 0;
}

.unit-btn {
  background-color: hsl(202, 95%, 80%);
  color: var(--dark-clr);
  padding: 8px 15px;
  float: left;
  font-weight: 500;
  transition: filter 0.1s;
}

.unit-btn:hover {
  filter: brightness(1.03) saturate(1.05);
}

.unit-btn:active {
  filter: brightness(0.99) saturate(1.05);
}

.unit-btn.selected {
  color: white;
  background-color: var(--mid-clr);
}
