:root {
  --gradient-top-clr: hsl(205, 80%, 48%);
}

#today-details {
  height: 40dvh;
  background: linear-gradient(var(--gradient-top-clr), var(--lighter-clr));
  border-radius: 10px;
  box-shadow: var(--darker-shadow);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 25px 40px;
}
