#today-details {
  height: 40dvh;
  background: linear-gradient(var(--gradient-top-clr), var(--lighter-clr));
  border-radius: 10px;
  box-shadow: var(--darker-shadow);
  color: white;
  padding: 25px;

  /* grid styling */
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}

#today-details .left {
  display: flex;
  align-items: end;
  margin-bottom: -20px;
}

#today-details .weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#today-details .temperature-text {
  font-size: 7.5rem;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.centre .container {
  display: flex;
  align-items: end;
  gap: 10px;
}

.centre .container .icon {
  width: 40px;
  height: 40px;
  background-color: white;
  mask-repeat: no-repeat;
}

.chance-of-rain .icon {
  mask-image: url("../../assets/icons/umbrella.svg");
}

.wind-speed .icon {
  mask-image: url("../../assets/icons/wind.svg");
}

#today-details small {
  opacity: 0.7;
  font-size: 0.6rem;
}

.property-name {
  text-wrap: nowrap;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.updated-time {
  text-align: right;
  opacity: 0.7;
}
