@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* global styles */
:root {
  --dark-clr: hsl(203, 30%, 26%);
  --mid-clr: hsl(206, 46%, 37%);
  --lighter-clr: hsl(201, 51%, 69%);
  --lightest-clr: hsl(203, 50%, 93%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 300;
}

b {
  font-weight: 600;
}

body {
  width: 60vw;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-name {
  flex: 1;
}

#location-search {
  flex: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
