@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* global styles */
:root {
  --dark-clr: hsl(203, 30%, 26%);
  --mid-clr: hsl(206, 46%, 37%);
  --lighter-clr: hsl(201, 51%, 69%);
  --lightest-clr: hsl(203, 90%, 93%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 300;
  color: var(--dark-clr);
  font-size: 1.5rem;
}

b {
  font-weight: 600;
}

body {
  height: 100dvh;
  width: 60dvw;
  margin: 0 auto;
  background: linear-gradient(var(--lightest-clr), white);
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 30px 0;
}

#location-search {
  flex: 2;
  max-width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border: hsl(205, 46%, 48%) 1px solid;
  border-radius: 5px;
  padding: 8px 10px;
}

.unit-btns button:first-child {
  border-radius: 10px 0 0 10px;
}

.unit-btns button:last-child {
  border-radius: 0 10px 10px 0;
}

.unit-btn {
  background-color: hsl(202, 53%, 80%);
  padding: 10px 20px;
  float: left;
}

.unit-btn.selected {
  color: white;
  background-color: var(--mid-clr);
}
