@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-clr: hsl(203, 30%, 26%);
  --mid-clr: hsl(206, 46%, 37%);
  --lighter-clr: hsl(201, 51%, 69%);
  --lightest-clr: hsl(203, 50%, 93%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* header */
h1 {
  font-weight: 300;
}

b {
  font-weight: 600;
}
